article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 125%;
}
/*
COLORS:
footer bg - grey - #acacac
contact bg- very-light-grey - #e3e3e3
body-text - #1f2022
titles - #010101
buttons - rgba(24, 51, 153, 0.78)
*/

/* Mobile-first layout (400px width)*/

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

i {
    color: #fff;
}

ul {
    list-style-type: none;
}

/* HEADER STYLES START HERE */


/*The header is 80vh because I want the user to see there's more content below*/
header {
    background-image: url(../images/image-1-mobile@3x.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 80vh;
}

header .wrapper {
    padding: 1px 0;
}

.desktop-only{
    display: none;
}

.hamburguer-menu {
    float: right;
    margin: 20px;
}

.main-title{
    clear: both;
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    line-height: 65px;
    font-size: 6.5rem;
    font-style: italic;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 0 5% auto;
    margin-top: calc(57vh - 6.5rem - 4.375rem); /*50vh - font-sizes*/

}

.subtitle-magazine {
    font-size: 4.375rem;
    font-weight: 500;
    font-style: initial;
}

/*MAIN STYLES START HERE*/

/*GALLERY STYLES START HERE*/

section .wrapper {
    text-align: center;
    padding: 10px 0;
}

h2 {
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.gallery-item {
    width: calc((100% - 60px) / 2);
    float: left;
    margin: 15px ;
}

.news-photo {
    width: 100%;
}

/*HIGHLIGHT SECTION START HERE*/

.highlight-item {
    width: calc (100% - 80px);
    margin: 0 40px;
}

.highlight-photo {
    width: 100%;
}

.title-article {
    font-family: 'Cormorant Garamond';
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    width: calc(100% - 30px);
    margin: 15px;
    padding: 10px 40px;
}

.text-article {
    font-family: 'Roboto';
    font-weight: 300;
    color: #1f2022;
    font-size: 1.1rem;
    line-height: 1.61em;
    margin: 0 5%;
}

.wrapper .read-more {
    text-align: center;
}

.btn-default {
    width: 184px;
    height: 69px;
    border-radius: 0px;
    background-color:rgba(24, 51, 153, 0.78);
    border: none;
    margin: 5% 25%;

    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.61em;
}

/* SECTION STYLES START HERE*/

.section-photo {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

section .btn-default {
    width: 160px;
    height: 50px;
}

section .title-article {
    font-size: 1.4rem;
    padding: 0;
    margin: 15px auto;
}

section .text-article {
    margin: 0 5%;
}

/*FOOTER STYLES START HERE*/

/*UL SHOP BRANDS, COMMUNITY AND EVENTS SECTION*/

footer {
    width: 100%;
    display: inline-block;
}

footer .user-interaction {
    background-image: url(../images/image-5@3x.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 55vh;
    width: 100%;
    text-align: center;

}

footer .user-interaction ul {
    padding: 0;
    display: inline-block;
    margin: 0 auto;
    margin-top: calc(20vh - 6rem);
}

footer i {
    font-size: 3rem;
}

footer .user-interaction ul li p {
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    margin-top: 10%;
}

/* CONTACT STYLES START HERE*/

footer .contact {
    clear: both;
    background-color: #e3e3e3;
    float: left;
    text-align: center;
    width: 100%;
}

footer .contact h3 {
    font-family: 'Cormorant Garamond';
    text-transform: uppercase;
    font-size: 1.6rem;
}

footer .contact p {
    font-family: 'Roboto';
    font-size: 1.05rem;
    font-weight: 300;
    color: #050505;
}

footer .contact #field-email {
    width: 360px;
    height: 50px;
    border: none;
    border-radius: 0px;
    text-align: center;

    font-family: 'Lato';
    font-size: 1.1rem;
    color: #232323; /* Why the color lokks lighter? */
}

footer .contact #btn-email {
    width: 360px;
    height: 50px;
    background-color: #070606;
    border: none;
    margin: 10px 0;

    font-family: 'Catamaran';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
}

footer .info .address,
footer .info ul {
    float: left;
    width: calc((100% - 20%) / 2);
    margin: 5%;
    display: inline-block;
}

footer .info .address {
    text-align: left;
    width: 50%;
}

footer .info ul {
    text-align: right;
    width: 30%;
}

footer .info .address h3 {
    margin-top: 0;
}

footer .info .address p {
    font-family: 'Roboto';
    font-size: 0.9rem;
    line-height: 1em;
}

footer .info ul {
    font-family: 'Catamaran';
    text-transform: uppercase;
}

footer .copy-bar {
    clear: both;
    background-color: #acacac;
    width: 100%;
    height: 43px;
    padding: 1px;
}

footer .copy-bar p {
    font-family: 'Roboto';
    text-align: center;
    font-size: 0.9rem;
    color: #000;
}